.header__logo {
  object-fit: contain;
  height: 100px;
}

.header__icon {
  padding: 20px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid #e9e9e9;
}
