.swipeButtons {
  position: fixed;
  bottom: 10vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons__relay {
  color: #f5b748 !important;
  height: 50px;
  width: 50px;
  padding: 3vw !important;
  margin-top: 10px;
}

.swipeButtons__close {
  height: 50px;
  width: 50px;
  padding: 3vw !important;
  margin-top: 10px;
  color: #ec5e6f !important;
}

.swipeButtons__star {
  height: 50px;
  width: 50px;
  padding: 3vw !important;
  margin-top: 10px;
  color: #62b4f9 !important;
}

.swipeButtons__favourite {
  height: 50px;
  width: 50px;
  padding: 3vw !important;
  margin-top: 10px;
  color: #76e2b3 !important;
}

.swipeButtons__flashOn {
  height: 50px;
  width: 50px;
  padding: 3vw !important;
  margin-top: 10px;
  color: #915dd1 !important;
}
